In [1]:
print("Hello")

Hello

In [2]:
import pandas as pd
import numpy as np

In [11]:
file = pd.read_csv("picks_data.csv")
# file.head(len(file))

In [4]:
col_names = file.columns
winners = file[col_names[5:10]]
loosers = file[col_names[:5]]

In [14]:
winners.head(len(file)).to_csv(winners, sep='\t', encoding='utf-8')

AttributeError: 'DataFrame' object has no attribute 'close'

In [6]:
loosers.head(10)

,loosing_hero_id_1,loosing_hero_id_2,loosing_hero_id_3,loosing_hero_id_4,loosing_hero_id_5
0,18,28,43,75,84
1,47,72,78,86,107
2,21,51,65,71,73
3,11,26,83,93,110
4,15,16,21,26,99
5,14,45,47,69,96
6,20,25,46,48,51
7,10,16,30,45,74
8,13,50,102,103,106
9,36,40,51,56,84